/* spacing system */

/* style guide  */
:root {
  --white: hsl(0, 0%, 100%);

  --ff-base: sans-serif;

  --fw-regular: 400;
}

/* global reset  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general styling */
html {
  font-size: 62.5% !important; /* 62.5% is 10px of 16px in percentage to enable ease of "rem" usage */
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: var(--ff-base);
}
